@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html, body {
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    display: flex;
    /* flex-wrap: wrap; */
}

#map_container {
    width: 960px;
    max-width: 100%;
    flex-shrink: 0;
}

#nyc-zipcode-map {
    width: 100%;
    cursor: grab;
}

.tooltip {
    word-wrap: break-word;
}

#callout_zipcode {
    margin-bottom: 2.5rem;
}

#callout_zipcode_text .name {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

#callout_zipcode_text .case_num {
    font-size: 1.5rem;
}

#rank_title {
    margin-left: 40px;
}

#rank_ol{
    padding-left: 2rem;
}

#rank_ol li {
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

#rank_ol li:hover {
    background: #FADBE4;
}


#rank_ol li, #callout_zipcode {
    display: flex;
    align-items: flex-start;
}

.color_rect_svg {
    flex-shrink: 0;
}


h2, h3 {
    margin: 0;
}

h1, h2, h3, h4, h5, li {
    cursor: default;
}

#credit {
    font-size: 1rem;
    position: absolute;

    right: 1rem;
    bottom: 1rem;
}

@media all and (min-width: 1000px){
    #callout {
        margin-left: 3rem;
    }
}